/* Стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*для текста*/
.content {
    text-align: center;
    margin: 50px auto;
    font-size: 120px;
}

    .content h1 {
        font-size: larger;
        margin-bottom: 0px;
    }

    .content p {
        font-size: larger;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .content .pop {
        font-weight: 900;
        color: #2f2f2f;
        font-size: larger;
    }


/* Стили для header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

    header h1 {
        font-size: 30px;
        margin: 0;
    }

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        header nav ul li {
            margin-left: 20px;
        }

            header nav ul li a {
                color: #fff;
                text-decoration: none;
                font-size: 38px;
            }

                /*header nav ul li a:hover {
                    text-decoration: underline;
                }*/

/* Стили для container */
.container {
    display: flex;
    margin: 20px;
}

    .container .sidebar {
        width: 25%;
        margin-right: 20px;
    }

        .container .sidebar h2 {
            font-size: 20px;
        }

        .container .sidebar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .container .sidebar ul li {
                margin-bottom: 10px;
            }

                .container .sidebar ul li a {
                    color: #333;
                    text-decoration: none;
                }

                    .container .sidebar ul li a:hover {
                        text-decoration: underline;
                    }

    .container .content {
        width: 75%;
    }

        .container .content h1 {
            font-size: 36px;
        }

        .container .content p {
            font-size: 18px;
            line-height: 1.5;
        }

/* Стили для footer */
/*footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 50px;
    
}

    footer p {
        margin: 0;
    }

/* Стили для анимации перехода между страницами */
a.page-transition {
    position: relative;
    text-decoration: none;
}

    a.page-transition:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    a.page-transition:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }




/*Для текста внизу(oficial)*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.oficial {
    /*font-family: 'Pacifico', cursive;*/
    font-size: 28px;
    letter-spacing: 2px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}













